@model AsmNewTest.Models.ApplicationUser

@{

    ViewBag.Title = "Xóa thành viên";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">

    <div class="col-sm-12">

        <h2>@ViewBag.Title</h2>

        <hr />

        <div class="text-center">

            <h5>Are you sure to delete member @Model.Email?</h5>

            @using (Html.BeginForm())

            {

                @Html.AntiForgeryToken()

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <button type="submit" class="btn btn-primary">Accept</button>

                <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>

            }

        </div>

    </div>

</div>